.feature-link {
  text-decoration: none;
  color: inherit;
  display: block;
}

.feature-link:hover {
  text-decoration: none;
  color: inherit;
}
/* 
#food-drink h2 {
  color: #007bff;
  text-shadow: 1px 1px 0 #007bff, -1px -1px 0 #007bff, 1px -1px 0 #007bff, -1px 1px 0 #007bff;
  border: 2px solid #007bff;
  padding: 15px 30px;
  border-radius: 8px;
  display: inline-block;
  background: rgba(0, 123, 255, 0.1);
} */

@media screen and (max-width: 400px) {
  #features {
    padding: 20px;
    width: 111%;
  }
  #about,
  #services,
  #testimonials,
  #team,
  #contact,
  #footer {
    width: 111%;
  }

  #portfolio {
    width: 110%;
  }
}
